.table-container {
    height: 700px;
    width: 700px;
    border: 5px solid black;
    position: absolute;
    left: 25%;
    top: 5%;
    border-collapse: collapse;
    position: relative;
}
.eventDiv{
    position: absolute;
    right: 250px;
    top: 80px;
    height: 100px;
    /* float: right; */
    padding: 20px;
    width: 200px;
    font-weight: bold;
    background-color: white;
    border: 3px solid black;
    text-align: center;
}
.table-container tr,
td {
    height: 12%;
    width: 12%;
    border: 3px solid black;    
}
.whiteCell {
    background-image: url(/images/lightWood.png);
}

.darkCell {
    background-image: url(/images/darkWood.png);
}
.selectedCell {
    background-color: orange;
}
.possibleMoves {
    background-color: aqua;
}
.enemyCell{
    background-color: red;
}
.heroImg {
    align-self: center;
    width: 70px;
    height: 70px;

}
body{
    background-image: url(/images/background.png);
    align-content: center;
    background-repeat: no-repeat;
    background-size: 1600px;
}
h1{
    text-align : center;
    font-weight: bold;
    text-decoration: underline;
    color: white;
}
.restartBtn{
    height: 50px;
    width: 100px;
    position: absolute;
    right: 300px;
    top: 180px;
}
/* .checkCell{
    background-color: blue;
} */