.table-container {
    height: 700px;
    width: 700px;
    border: 5px solid black;
    border-collapse: collapse;
    position: relative;
    margin: auto;
}
.eventDiv{
    position: absolute;
    transform: translate(50% , 50%);
    right: 320px;
    top: 30px;
    height: 100px;
    padding: 20px;
    width: 200px;
    font-weight: bold;
    background-color: white;
    border: 3px solid black;
    text-align: center;
    border-radius: 10px;
}
.table-container tr,
td {
    height: 12%;
    width: 12%;
    border: 3px solid black;    
}
.whiteCell {
    background-image: url(/images/lightWood.png);
    user-select: none;
}

.darkCell {
    background-image: url(/images/darkWood.png);
    user-select: none;
}
.selectedCell {
    background-color: orange;
    user-select: none;
}
.possibleMoves {
    background-color: aqua;
    user-select: none;
}
.enemyCell{
    background-color: red;
    user-select: none;
}
.heroImg {
    width: 70px;
    height: 70px;
    margin: auto;
}
body{
    background-image: url(/images/background.png);
    align-content: center;
    background-repeat: no-repeat;
    background-size: 1600px;
}
h1{
    text-align : center;
    font-weight: bold;
    text-decoration: underline;
    color: white;
}
.restartBtn{
    height: 50px;
    width: 100px;
    position: absolute;
    right: 320px;
    top: 160px;
    transform: translate(50% , 50%);
}
